.wood {
    background-color: brown;
}

.wheat {
  background-color: goldenrod;    
}

.brick {
  background-color: red;
}

.glass {
  background-color: lightskyblue;
}
.stone {
  background-color: gray;
}


.flexRow {
    width: 609px;
    border: solid 1px black;
    display:flex;
  flex-direction:row;
  justify-content: space-around;
}