
  .grid > div:hover {
    background: rgb(238, 26, 89);
    
  }


  
    .selectedSquare {
      border: dashed 2px black;
    }
  
    .patternedCell {
      border: solid 1px green;
      color: #32c63c;
    }
/****************************************************************/

    .board {
      display: flex;
      width: 240px;
      height: 240px;
      background: lightcyan;
      align-items: center;
      justify-content: center;
    }

    ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1em;
      margin: 0 auto;
      max-width: 64em;
      padding: 1px;
      
    }

    li{
      margin: 0px;

      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;
      border: 2px solid #eaeaea;
      width: 40px;
      height: 40px;
      background: white;

    }
    .selectedSquare {
      border: dashed 2px black;
    }

    .patternedSquare {
      border: dotted 2px white;

    }
    img {
      border: solid 2px white;
      max-width: 20px;
      max-height: 20px;

    }

   
    

 