
.building {
    width: 200px;
    height: 200px;
    margin: 2px;
    display: grid;
    align-content: space-between;
    justify-content: center;	

    border: solid 1px #e6b821;
  }
  
  .buildingTitle{
    display: flex;
    align-content: space-between;

    margin: 5px 5px;
    font-weight: bold ;
  }

  .buildingPattern {
    align-content: center;
    justify-content: center;	
    display: grid;
}

.buildingAbility {
    padding-left: 10px;
    padding-right: 10px;

}

.building button {
   
      margin-right: 2px;
      margin-bottom: 2px;
      margin-left: auto;
      align-content: center;
      justify-content: center;	


}

.building  img {
    width: 20px;
      height: 20px;
   
    margin-right: 2px;
    margin-bottom: 2px;
    margin-left: auto;
    align-content: center;
    justify-content: center;	


}

.resource{
      width: 25px;
      height: 25px;
      margin: 2px;
      

  }
