
.building {
   
  display: flex;
	
  }
  
  .buildingTitle{
    display: flex;
    align-content: space-between;

    margin: 5px 5px;
    font-weight: bold ;
  }

  .buildingPattern {
    align-content: center;
    justify-content: center;	
    display: grid;
}

.buildingAbility {
    
  display: flex;

}



.building  img {
    width: 20px;
    height: 20px;
   
    margin-right: 2px;
    margin-bottom: 2px;
    margin-left: auto;
    align-content: center;
    justify-content: center;	


}

.resource{
      width: 25px;
      height: 25px;
      margin: 2px;
      

  }
