.wood {
    background-color: brown !important;
}

.wheat {
  background-color: goldenrod !important;    
}

.brick {
  background-color: red !important;
}

.glass {
  background-color: lightskyblue !important;
}
.stone {
  background-color: grey !important;
}

.wild {
  /*background: linear-gradient(to right, rgba(147,184,116,0), rgba(147,184,116,1));*/
  -webkit-animation: colorchange 5s infinite; 
    animation: colorchange 5s infinite;}
    @-webkit-keyframes colorchange {
      0%  {background: brown;}
     25%  {background: goldenrod;}
     50%  {background: red;}
     75%  {background: lightskyblue;}
     100% {background: gray;}
 }

